/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background: url('../assets/login.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Profile Container */
.profile-container {
    display: flex;
    margin-top: 60px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.profile-content {
    background-color: rgb(252, 239, 239);
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: scroll;
}


.action-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#addIcon {
    font-size: 38px;
    color: #000;
}

#addText {
    margin-top: 5px;
    font-size: 18px;
    color: #960606;
    text-align: center;
}

/* User Posts Container */
#userPostsContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Post Card */
.post-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.post-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 20px 0;
}

.like-button {
    background: white; /* Button background color */
    border: none;      /* Removes default border */
    cursor: pointer;   /* Changes cursor to pointer on hover */
    font-size: 48px;   /* Size of the heart icon */
    color: #ccc;       /* Default color of the heart icon */
    transition: color 0.3s; /* Smooth transition for color change */
}

.like-button.liked .heart-icon {
    color: red; /* Color of the heart when liked */
}

.like-button .heart-icon {
    color: inherit; /* Inherit color from the button (default or red if liked) */
}
.post-title {
    display: inline-block;
    font-size: 24px;
    margin-right: 5px;
}

.post-location {
    display: inline-block;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.post-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.post-card img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.post-card .tags {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.no-posts {
    text-align: center;
    font-size: 24px;
    color: #777;
    margin-top: 50px;
}

/* Home button */
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px;
    background-color: #fff;
    color: #4e4094;
    border: none;
    border-radius: 20%;
    font-size: 32px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.home-button i {
    margin-right: 5px;
}

.home-button:hover {
    background-color: #aea2fd;
}

/* Logout button */
.logout-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #4e4094;
    border: none;
    border-radius: 20%;
    padding: 5px;
    font-size: 32px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #555;
}

/* View Post Info Button */
.view-post-info-button {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: rgb(84, 45, 161);
    border: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    border-radius: 19%;
    margin: 0;
    transition: color 0.3s ease;
}

.view-post-info-button:hover {
    color: #ff0000;
}

.view-post-info-button:focus {
    outline: none;
}

/* Back to Top Button */
.back-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.back-to-top-button i {
    color: #4e4094;
    font-size: 24px;
}

.back-to-top-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
